.span.grey 
  background: #CBCBCB
  border-radius: 0.8em
  -moz-border-radius: 0.8em
  -webkit-border-radius: 0.8em
  color: #fff
  display: inline-block
  font-weight: bold
  line-height: 1.6em
  text-align: center
  width: 1.6em 

.text_color_1
  color: #5DC2AE 

.jumbo_blue
  background-color: #022644
  & p, h1, h2, h3, h4, h5 
    color: white
  border-radius: 0.3rem
  padding: 3rem
  margin-top: -30px

.jumbo_blue_2
  background-color: #93F5E5
  border-radius: 0.3rem
  padding: 3rem
  margin-top: -30px
  

.text-right
  text-align: right

.img-a 
  display: block 
  margin: auto   
  width: auto
  height: auto

.img-col 
  display: block  
  width: auto
  height: auto

.img-p
    z-index: 3
    width: 87px
    height: 87px
    margin-left: 50px

.img-b 
    display: block   
    width: auto
    height: auto

.img-c
  position: relative
  margin-top: -90px
  margin-left: 417px

.tamno_text_2
  font-size: 30px
  line-height: 1em


.tamno_text_3
  font-size: 38px
  line-height: 1em

.color_1
  background-color: #93F5E5
  font-size: 18pxf

.color_2
  background-color: #022644
  font-size: 18px
  color: #fff

.tr_table
  background-color: #F0F0F0

.tr_table_1
  background-color: #F8F8F8

.targeta_int_1
  background-color: #FFFFFF
  padding: 20px

.targeta_int
  background-color: #CAF8EF
  padding: 20px

.color_table_1
  background-color: #B0E5DC

.color_table_2
  background-color: #EAEAEA

.border_table
  border: white 3px solid

.span.green 
  background: #5DC2AE
  border-radius: 0.8em
  -moz-border-radius: 0.8em
  -webkit-border-radius: 0.8em
  color: #111E61
  display: inline-block
  font-weight: bold
  line-height: 1.6em
  text-align: center
  width: 1.6em 

.titulo_blanco
  color: white !important

.tamano
  min-height: 411px

.list 
  width: 100%
  display: flex !important
  &__item 
    &__bulletNumber 
      position: relative
      width: 10px
      height: 10px
      margin-right: 1rem
      text-align: center
      border-radius: 50%
      background-color: #5DC2AE
      span 
        color: white
        font-weight: 700
        font-size: small
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
      
    
    &__number 
      position: relative
      margin-right: 1rem
      span 
        color:orange
        font-size: 15pt
        font-weight: 700
        line-height: 1.2
      
    
    &__icon 
      position: relative
      width: 15px
      margin-right: 0.65rem
      img 
        width: 15px
        vertical-align: middle
      
    
  
  &__txt 
    p:first-child,
    h3:first-child 
      margin-top: 0px

.m-top      
  margin-top: -7px !important

.text_inicio
  color: #022644 !important